[submodule "lib/fatfree-master"]
	path = lib/fatfree-master
	url = git@github.com:bcosca/fatfree.git
[submodule "lib/FloraForm-template"]
	path = lib/FloraForm-template
	url = git@github.com:cgutteridge/FloraForm.git
[submodule "lib/internalstyle"]
	path = lib/internalstyle
	url = git@sourcekettle.ecs.soton.ac.uk:projects/internalbrand.git
[submodule "lib/ldapauth"]
	path = lib/ldapauth
	url = git@sourcekettle.ecs.soton.ac.uk:projects/ldapauth.git
[submodule "lib/tinymce"]
	path = lib/tinymce
	url = git@github.com:tinymce/tinymce.git
