
[website]

; prod,pre,dev. Sets a message in the banner for pre and dev.
site_stage=dev

; include trailing slash
site_url=https://orcid.soton.ac.uk/

[database]

db_user=
db_password=
db_host=
db_name=

[orcid]

ORCID_OAUTH_CLIENT_ID=
ORCID_OAUTH_CLIENT_SECRET=

; either sandbox.orcid.org or orcid.org
ORCID_DOMAIN=sandbox.orcid.org

; either pub or api
ORCID_API=pub

