
<check if='{{ @record }}'>
  <p>The University of Southampton would prefer you did not de-associate your ORCID identity from your Southampton identity.</p>
  <p>This action will remove the association from our live information. The previous association may remain in our logs, but will not be used.</p>
  <p>You can re-associate with this or another ORCID identity at any time.</p>
  <h3>Are you sure you want us to forget your ORCID iD?</h3>
  <true>
    <div>
      <a class='big-button' href='/clear-really'>Yes, please forget my ORCID iD</a>
      <a class='big-button' href='/profile'>Cancel</a>
    </div>
 </true>
 <false>
    <p>You do not have an ORCID identity linked to your University of Southampton identity.</p>
 </false>
</check>
