
<p>An <a href='http://orcid.org/'>ORCID</a> iD is a unique researcher identifier you keep throughout your life, wherever you are. ORCID iDs look like a credit card number:  
{{orcidLink( '0000-0001-9201-5987' )|raw }}.

<p>It is increasingly used by funders and publishers globally to identify publications and grants to people. <a href='http://library.soton.ac.uk/orcid'>Find out more about why an ORCID iD can be useful</a>.</p>

<p>Register here for an ORCID iD or to connect your existing ORCID iD with the University of Southampton.</p>

<check if="{{@SESSION.authenticated}}">
  <true>
    <div><a class='big-button' href='/profile'>View and update ORCID settings for {{@SESSION.givenname}} {{@SESSION.familyname}}</a></div>
  </true>
  <false>
    <form action="/profile" method="POST">
	<table class="login">
		<tbody>
			<tr>
				<td>Username: </td><td><input type="text" name="username" /></td>
			</tr>
			<tr>
				<td>Password: </td><td><input type="password" name="password" /></td>
			</tr>
			<tr>
				<td colspan="2" class="login-container">
					<input type="hidden" value="/profile" name="pass_through" />
					<input type="submit" value="Login" />
				</td>
			</tr>
		<tbody>
	</table>
    </form>
  </false>

</check>
