
<p>Hello, {{@SESSION.givenname}} {{@SESSION.familyname}}.</p>

<check if='{{ @record }}'>
  <true>
    <p>You currently do have an ORCID associated with your University of Southampton identity. Your ORCID is {{ @record->orcidLink() | raw }}</p>

    <h3>Information from your ORCID record:</h3>
    <div id='your-orcid-info'></div>
    <div>
      <a class='big-button' href='/orcid-authorise'>Change ORCID</a>
      <a class='big-button' href='/clear'>Forget ORCID</a>
    </div>

    <script type='text/javascript' src='/html_assets/orcid_render.js'></script>
    <script>
$(document).ready( function() { 
	updateOrcidRecord( '{{@record->orcid()}}', $('#your-orcid-info') );
} );
    </script>

 </true>
 <false>
    <p>You do not have an ORCID linked to your University of Southampton identity. </p>
    <div><a class='big-button' href='/orcid-authorise'>Connect an ORCID</a></div>
 </false>
</check>

