
<p>Hello, {{@SESSION.givenname}} {{@SESSION.familyname}}.</p>

<check if='{{ @record }}'>
  <true>
    <p>You currently do have an ORCID associated with your University of Southampton identity. Your ORCID is {{ @record->orcidLink() | raw }}</p>

    <div id='your-orcid-info'></div>
    <div>
      <a class='big-button' href='/orcid-authorise'>Change ORCID</a>
      <a class='big-button' href='/clear'>Forget ORCID</a>
    </div>

<script type='text/javascript'>
$(document).ready( function() { 
	var orcid='{{@record->orcid()}}';
	$( '#your-orcid-info' ).html( "Looking up your ORCID..." );
	$.ajax( "/orcid/"+orcid+".json" ).success( function(data) {
		var pd = data["orcid-profile"]["orcid-bio"]["personal-details"];
		var name = pd["family-name"]["value"]+", "+pd["given-names"]["value"];
		var pre = $("<pre><pre>");
		pre.text( JSON.stringify( data, null, '\t' ) );
		$('#your-orcid-info').html('').append( pre );
	} );
} );
</script>

 </true>
 <false>
    <p>You do not have an ORCID linked to your University of Southampton identity. Use the button below to link your identity to your existing ORCID, or create one.</p>
    <div><a class='big-button' href='/orcid-authorise'>Connect an ORCID</a></div>
 </false>
</check>
