<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" id="viewport" content="initial-scale=1.0" />
		<link rel="stylesheet" href="{{@SCHEME}}://{{@HOST}}{{@BASE}}/html_assets/{{@STYLE}}/uos-internal.css" />
		<link rel="stylesheet" media="screen" href="{{@SCHEME}}://{{@HOST}}{{@BASE}}/html_assets/{{@STYLE}}/uos-mobile.css">
		<link rel="stylesheet" media="screen" href="{{@SCHEME}}://{{@HOST}}{{@BASE}}/html_assets/floraform/ff.css">
		<script type="text/javascript" src="{{@SCHEME}}://{{@HOST}}{{@BASE}}/html_assets/tiny_mce/tiny_mce.js"></script>
		<script src="{{@SCHEME}}://{{@HOST}}{{@BASE}}/html_assets/jquery.js"></script>
		<script src="{{@SCHEME}}://{{@HOST}}{{@BASE}}/html_assets/floraform/ff.js"></script>
		<link rel="stylesheet" media="screen" href="{{@SCHEME}}://{{@HOST}}{{@BASE}}/html_assets/style.css">
		<title>{{@title}} - {{@app_name}}</title>
	</head>
	<body>
		<div class="uos-container">
			<div class="uos-header" id="uos-header">
				<div class="uos-logo"> </div>
				<check if="{{@SESSION.authenticated}}">
					<div class="uos-logged-in-user">Logged in as {{@SESSION.givenname}} {{@SESSION.familyname}} <a href="{{@BASE}}/logout">Log out</a></div>
				</check>
				<div class="uos-app-name">
					<h1>{{@app_name}}</h1>
					<h2>{{@app_tag_line}}</h2>
				</div>
			</div>
			<check if="{{ !@live_server }}">
				<div class='warning-banner'>WARNING. This is not the active service. This website is for testing purposes only. Do not use.</div>
			</check>
			<div class="uos-main-block">
				<div class="uos-left-block">
					<repeat group="{{@left_column}}" value="{{@template}}">
						<include href="{{@template}}" />
					</repeat>
				</div>
				<div class="uos-page-content">
					<h2>{{@title}}</h2>
					<repeat group="{{@SESSION.messages}}" value="{{@message}}">
						{{ @message | raw }}
					</repeat>
					<repeat group="{{@templates}}" value="{{@template}}">
						<include href="{{@template}}" />
					</repeat>
				</div>
				<div class="uos-right-block">
					<repeat group="{{@right_column}}" value="{{@template}}">
						<include href="{{@template}}" />
					</repeat>
				</div>
			</div>
			<div class="uos-footer">
				<span class="item">Copyright &copy; University of Southampton</span>
			</div>
		</div>
	</body>
<script>
$(document).ready(function(){
	setTimeout(function(){
		$('.orcid-message').fadeOut();
	}, 3000 ); 
});
</script>
</html>
